body
{
    margin: 0;
    background: #606060;
}

#container
{
    width: 100%;
    height: 100%;
}

#menu_top
{
    position: relative;
    top: 0;
    width: 100%;
    height: 100px;
    background: #363636;
    color: white;
}

#menu_left
{
    width: 20%;
    height: 500px;
    /* float: left; */
    background: #505050;

}

#main
{
    width: 80%;
    height: 500px;
    float: left;
}

li 
{
    float: left;
    list-style: none;
    width: 30%;
    
}
a
{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
}