body
{
    margin: 0;
    background: #606060;
}

#container
{
    width: 100%;
    height: 100%;
}

#menu_top
{
    position: relative;
    top: 0;
    width: 100%;
    height: 100px;
    background: #363636;
    color: white;
    box-shadow: 0px 5px 10px 0px black;
    box-sizing: border-box;


}

#menu_left
{
    width: 20%;
    padding: 20px;
    height: 500px;
    /* float: left; */
    background: #505050;
    float: left;
    box-shadow: 5px 0px 10px 0px black;

    box-sizing: border-box;

}

#main
{
    width: 80%;
    height: 500px;
    background: #454545;
    box-sizing: border-box;

}

li 
{
    float: left;
    list-style: none;
    width: 30%;
    display: block;
    
}

a
{
    text-decoration: none;
    color: aliceblue;
    font-size: 40px;
}

img
{
    margin: 40px;
    width: 100px;
    
}